:root {
    /* sizes */
    --header-height: 3rem;
    --footer-height: 2rem;
    --categories-height: 3rem;
    --default-border-radius: 5px;
    --default-box-shadow: 1px 1px 1px 1px;
    --category-box-shadow-size: 0px 0px 2px 1px;
    --item-container-gap: 2rem;
    --category-width: 7rem;

    /* colors */
    --col-main-bg: rgb(150, 147, 180);
    --col-head-bg: rgb(192, 171, 193);
    --col-foot-bg: rgb(192, 171, 193);

    --col-default-category: rgb(216, 195, 195);
    --col-to-do-section: rgb(216, 195, 195);
    --col-default-item: rgb(255, 243, 174);

    --col-menu-popup: rgb(242, 222, 194);

    /* tints */
    --tint-dark-low: rgba(0, 0, 0, .25);
    --tint-dark-med: rgba(0, 0, 0, .5);
    --tint-dark-high: rgba(0, 0, 0, .75);

    --tint-light-xlow: rgba(255, 255, 255, .15);
    --tint-light-low: rgba(255, 255, 255, .25);
    --tint-light-med: rgba(255, 255, 255, .5);
    /* other */
    --default-transition-time: 2s;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
    background-color: var(--tint-light-med);
    border: none;
    box-shadow: var(--default-box-shadow) var(--tint-dark-low);
}

button:hover {
    background-color: var(--tint-dark-low);
    box-shadow: var(--default-box-shadow) var(--tint-dark-med);
}

button:active {
    background-color: var(--tint-dark-med);
    box-shadow: none;
}

#content {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template: var(--header-height) calc(100vh - var(--header-height) - var(--footer-height)) var(--footer-height)/ 100vw;
}

header {
    background-color: var(--col-head-bg);
    height: var(--header-height);
}

main {
    background-color: var(--col-main-bg);
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
}

footer {
    background-color: var(--col-foot-bg);
    height: var(--footer-height)
}

#to-do-window {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#category-section {
    height: var(--categories-height);
    display: flex;
}

#category-container {
    display: flex;
    overflow-x:scroll;
}

.selected-category {
    border: none;
    box-shadow: none;
    background-color: var(--col-to-do-section);
    width: calc(var(--category-width) * 1.4);
}

.category-spacer {
    background-color: var(--tint-light-med);
    width: calc(var(--category-width) * 1.4);
}

category {
    position: relative;
    background-color: var(--col-default-category);
    text-align: center;
    box-shadow: inset var(--category-box-shadow-size) var(--tint-dark-med);
    width: var(--category-width);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    cursor: pointer;
    user-select: none;
    padding: 0px .25rem;
}

category:last-child {
    border-top-right-radius: var(--default-border-radius);
}

category:first-child {
    border-top-left-radius: var(--default-border-radius);
}

category:not(.selected-category):hover {
    box-shadow: inset var(--category-box-shadow-size) var(--tint-dark-low);
}

category>h4 {
    background-color: var(--tint-light-low);
    border-radius: var(--default-border-radius);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#create-new-category-btn {
    width: 2rem;
    height: 2rem;
    align-self: center;
    margin-left: 1rem;
}

.edit-category-btn, .delete-category-btn {
    position: relative;
    width: 1rem;
    height: 1rem;
    background: none;
    box-shadow:none;
    padding: 0;
    margin: 0;
    opacity: .5;
}

.edit-category-btn:hover, .delete-category-btn:hover {
    opacity: .8;
    box-shadow:none;
}

.category-name-input {
    width: 100%;
    height: 100%;
    background-color: var(--tint-dark-low);
    border: none;
    outline: none;
    text-align: center;
}

.category-name,
.category-name-input {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}
.delete-category-btn{
    font-size: .75em;
}

.round-btn {
    border-radius: 100vmax;
}

#to-do-section {
    background-color: var(--col-to-do-section);
    flex-grow: 1;
    max-height: calc(100% - var(--categories-height));
    box-sizing: border-box;
    border-top-right-radius: 5px;
    padding: 1rem;
    position: relative;
}

#item-window {
    height: 100%;
    width: 100%;
    overflow: scroll;
    border-radius: var(--default-border-radius);
}

#item-container {
    background-color: var(--tint-dark-low);
    min-height: 100%;
    width: 100%;
    padding: 1rem 0 1rem 3rem;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: var(--item-container-gap);
}

item {
    position: relative;
    background-color: var(--col-default-item);
    border-radius: var(--default-border-radius);
    padding: 30px;
    box-sizing: border-box;
    min-width: 300px;
    max-width: calc(33% - 2rem);
    word-wrap: break-word;
    height:fit-content;
    box-shadow: var(--default-box-shadow) var(--tint-dark-low);
    cursor: pointer;
    transition: margin-right var(--default-transition-time), opacity calc(var(--default-transition-time) / 4);
    
    display:grid;
    grid-template: fit-content fit-content 1rem / fit-content;
    gap:1rem;
}

item:hover {
    box-shadow: var(--default-box-shadow) var(--tint-dark-med);
}

.item-title{
    font-size:1.25rem;
    font-weight:600;
    background-color:var(--tint-light-xlow);
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius:var(--default-border-radius);
    padding:.5rem;
}
.item-description{
    background-color:var(--tint-light-xlow);
    border-radius:var(--default-border-radius);
    padding:.5rem;
    box-sizing: border-box;
    overflow:hidden;
    word-wrap:break-word;
    max-width:100%;
}
.item-widget-container:not(:empty){
    border-radius:var(--default-border-radius);
    padding: .5rem;
    height:1rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.item-widget{
    height:100%;
    width: fit-content;
    overflow:none;
    padding:3px;
    background-color:var(--tint-light-med);
    border-radius:var(--default-border-radius);
    display:flex;
    align-items:center;
    justify-content: center;
}


#open-new-task-menu-btn {
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: 2rem;
    bottom: 2rem;
}

#blackout-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: var(--tint-dark-high);
}

.abs-center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

}

#add-task-popup {
    min-height: 400px;
    min-width: 400px;
    max-height: 70%;
    max-width: 60%;
    background-color: var(--col-menu-popup);
    border-radius: var(--default-border-radius);
    box-shadow: var(--default-box-shadow) var(--tint-dark-med);
    overflow: scroll;
    font-size: larger;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:center;
    padding:1rem;
}

#NT-form {
    width: calc(100% - 1rem);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y:scroll;
    overflow-x:scroll;
    justify-content: space-between;
    padding: .5rem;
    margin:.5rem;
    border: solid 2px var(--tint-dark-med);
    flex-grow:1;
}
.form-section{
    padding:.5rem;
    margin: .5rem;
}
#complete-by-section{
    display:grid;
    grid-template: 3rem 1fr / 1fr 1fr;
}
#complete-by-label{
    grid-column: span 2;
    display:flex;
    justify-content: center;
    align-items: center;
}
.section-label{
    background-color:var(--tint-dark-low);
    border-radius:var(--default-border-radius);
    display:flex;
    justify-content: center;
    align-items: center;
    height:fit-content;
    width:fit-content;
    box-sizing:border-box;
    padding:6px 12px;
}
@media all and  (max-width:800px){
    .form-section{flex-direction:column !important;}
}
.form-item{
    justify-content: center;
    align-items: center;
    padding:.5rem;
}
divider{
    border: solid 1px var(--tint-dark-med)
}
.flex-col{
    display:flex;
    flex-direction:column;
    gap:.5rem;
}
.form-section-flex-row{
    display:flex;
    gap:.5rem;
}
.space-evenly{
    justify-content: space-evenly;
}
#NT-form-name{

}
#NT-form-description{
}
#NT-form-priority{
    width:3rem;
}
#create-task-btn{
    flex-grow:0;
}

.hidden {
    display: none;
}

.delete-task-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.default-svg {
    height: 100%;
    width: 100%;
}
#close-NT-form-btn{
    position:absolute;
    top:0;
    right:0;
    background:none;
    color:var(--tint-dark-med);
    border-radius: var(--default-border-radius);
    box-shadow:none;
}
#close-NT-form-btn:hover{
    background-color:var(--tint-dark-low);
}
#close-NT-form-btn:active{
    opacity:.8;
}